/* 
Bootstrap variables reference: 
https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss
*/

@import url('https://fonts.googleapis.com/css?family=Krub:300,400,700|Lato');

$font-family-sans-serif: 'Lato', sans-serif;

$link-hover-decoration: none;

// $primary: #00b09b;
// $secondary: #96c93d;
$primary: #00467F;
$secondary: #A5CC82;
$complementary: #ff7a0e;
$complementary2: #ffdc51;
$lightgray: #e2e6ea;
$success: #67c57c;
$danger: #ff4747;

$link-color: $complementary;

$breadcrumb-bg: lighten($secondary, 25%);

$gray-600: #6c757d;
$body-color: $gray-600;

$border-radius: 0.25em;

$theme-colors: (
    'complementary': $complementary,
    'lightgray': $lightgray
);